*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#111;
color:white;
overflow-x:hidden;
transition:.4s;
}

.light{
background:#f8f8f8;
color:#111;
}

.loader{
position:fixed;
inset:0;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
font-size:2rem;
animation:hide 2s forwards;
}

@keyframes hide{
90%{opacity:1}
100%{
opacity:0;
visibility:hidden;
}
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:fixed;
width:100%;
backdrop-filter:blur(15px);
z-index:100;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");
background-size:cover;
}

.hero-content{
text-align:center;
max-width:800px;
}

.hero h1{
font-size:5rem;
}

.hero p{
margin:20px 0;
font-size:1.2rem;
}

button{
padding:15px 35px;
border:none;
border-radius:50px;
cursor:pointer;
background:#ff9f43;
color:white;
font-weight:600;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
padding:80px 10%;
text-align:center;
}

.stats h2{
font-size:3rem;
color:#ff9f43;
}

.products{
padding:100px 10%;
}

.products h2{
text-align:center;
margin-bottom:50px;
font-size:3rem;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card{
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
padding:30px;
border-radius:20px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card span{
display:block;
margin-top:15px;
color:#ff9f43;
}

.about,
.reviews,
.contact{
padding:100px 10%;
text-align:center;
}

.review-box{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
margin-top:30px;
}

.review{
padding:25px;
background:#222;
border-radius:15px;
width:280px;
}

form{
display:flex;
flex-direction:column;
max-width:600px;
margin:auto;
gap:20px;
}

input,
textarea{
padding:15px;
border:none;
border-radius:10px;
}

footer{
padding:40px;
text-align:center;
background:#000;
}

@media(max-width:768px){

.hero h1{
font-size:3rem;
}

nav ul{
display:none;
}

}
